.item {
    /*background-image: attr(data-url);*/
    width: calc(20% - 20px);
    height: 240px;
    padding: 10px;
    -moz-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 0.8);
    -o-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.8), Direction=180, Strength=50);
    background-size: cover;
    transition: all 0.1s linear;
    opacity: 0.7;
}

.item:hover {
    transform: scale(1.05);
    -moz-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 1);
    -o-box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 75px 50px -25px rgba(0, 0, 0, 1);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 1), Direction=180, Strength=50);
    cursor: pointer;
    opacity: 1;
    z-index: 1000;
}

.label {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}
